<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Financeiro Dashboard</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="sidebar">
      <h1>UneCont - Dev Fullstack</h1>
      <h5>Menu</h5>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Dashboard" ? "active" : "")" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "active" : "")" href="/home">Notas Fiscais</a>
        </li>
      </ul>
    </nav>

    <!-- Área Principal -->
    <div class="content">

      <!-- Barra de Navegação -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">@ViewData["Title"]</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link perfil" href="#">AM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sair</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Conteúdo a substituir -->
      <main role="main" class="container">
        @RenderBody()
      </main>

    </div>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    @RenderSection("Scripts", required: false)
  </body>
</html>